.container{
	margin-top: 2.5rem;
	padding-top:2rem ;
	padding-bottom: 3rem;
	
}
.admin-btn{
	border: #0a0909 1px solid;
}
.card-body{
    display: flex;
    justify-content: space-around;
}
.card img{
    object-fit: cover;
}
.card{
    color: #0a0909;
}
.view-btn{
	border: black 1px solid;
}
.main{
	background-color: rgb(242, 240, 238);
}
