<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        <div class="col" *ngFor="let i of pdata">
            <div class="card m-2 h-10 w-100% p-3">
                <img  style="width: -100%;height: 12rem;" src={{i.image}} class=" card-img-top"
                    alt="img">
                <div class="card-body">
                    <h5 class="card-title">{{i.pname}}</h5>
                </div>
                <button class="view-btn btn bg-success" (click)="addToCart()">Add to cart</button>
                <br>
                <button class="view-btn btn bg-danger" (click)="removeItem(i._id)">Remove Item</button>
            </div>
        </div>
    </div>
</div>