<div class="container">
    <div class="main">
        <div class="management">
            <h1 class="text-center">Manage USER/PRODUCT</h1>
        </div>
        <div class="btns text-center">
            <div class="user">
                <button class="btn" routerLink="/admin-usermng">User management</button>
            </div>
            <div class="product">
                <button  class="btn" routerLink="/admin-productmng">Product management</button>
            </div>
            
        </div>
    </div>
    
</div>

